{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница на django </title>
{% endblock %}

{% block content%}
    <h1>Урок номер 3 по изучению фреймворка Django: Models, migrations</h1>
    <div class="p-4 bg-light text-center rounded shadow-sm mb-4">
    <h1 class="display-5 fw-bold text-success">Добро пожаловать в Flower Fast Delivery!</h1>
    <p class="lead mt-3">Мы воплощаем цветочные мечты в реальность с невероятной скоростью! Наш онлайн-магазин предлагает свежайшие букеты и цветочные композиции с доставкой в любое время суток. Удивите своих близких, добавив немного красоты и аромата в их день — всего за несколько часов!</p>
    <a href="#" class="btn btn-success btn-lg mt-3">Выбрать букет</a>
    </div>

{% endblock %}